<!DOCTYPE html>
<html>
<style>    
table, th, td {
  border:1px solid black;
}    
</style>
<body>

<h2>A basic HTML table</h2>

<table style="width:100%">
  <tr>
    <th>Name</th>
    <th>Email</th>
  </tr>
   <%users.forEach(user=>{ %>
    <tr>
        <td><%=user.name%></td>
        <td><%=user.email%></td>
    </tr>
          
     <% })%>
</table>
<button><a href="form">Click to Add</a></button>

<p>To undestand the example better, we have added borders to the table.</p>

</body>
</html>

